/*.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    background-color: #ffffff;
    border-color: #ffffff;
}*/

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.container {
    /*width: 1170px;*/
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#logout-form-container {
    display: none;
}

.invisible {
    display: none;
}

.pickadate {
}

footer {
    display: block;
    position: relative;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: 0.83em;
}

footer, .push {
    height: 60px; /* .push must be the same height as .footer */
}
