<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="include-head-local :: head"/>

<body role="document">

<div class="container">

    <div th:replace="include-menubar :: menu"/>

    <div class="page-header">
        <h1 th:text="${communityObj.name}">Savernake Forest Druids</h1>
    </div>

</div>

<div th:replace="include-menubar :: form-logout"/>

</body>
</html>
