<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="include-head-local :: head"/>

<body role="document">

<div class="container">

    <div th:replace="include-menubar :: menu"/>

    <div class="page-header">
        <h1>Communities</h1>
    </div>

    <table class="table table-condensed table-hover table-bordered display">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        <tr th:each="community : ${communityList}">
            <td><a th:href="@{'/community/'+${community.idNumber}+'/select'}" th:text="${community.idNumber}">SFD-2</a></td>
            <td><a th:href="@{'/community/'+${community.idNumber}+'/select'}" th:text="${community.name}">Savernake Forest Druids</a></td>
        </tr>
    </table>

    <div class="push"></div>
</div>

<div th:replace="include-menubar :: form-logout"/>

<footer th:include="include-foot :: footer"/>
</body>
</html>
