<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="include-head-local :: head"/>

<body role="document">

<div class="container theme-showcase" role="main">

    <div th:replace="include-menubar :: menu"/>

    <div class="page-header">
        <h1 th:text="'Edit Subscription  for ' + ${subscription.firstName} + ' ' + ${subscription.lastName}">Edit
            Subscription for Jonny Rotten</h1>
    </div>

    <form role="form" th:action="@{/subscription/submit}" th:object="${subscription}" method="post">

        <div th:each="err : ${#fields.detailedErrors()}" class="alert alert-danger" role="alert"
             th:text="${err.fieldName + ': ' + err.message}">Input is incorrect
        </div>

        <div class="row">
            <div class="col-md-2">
                <div th:class="${#fields.hasErrors('paidAmount')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="paidAmount">Paid Amount</label>
                    <input type="text" class="form-control" th:field="*{paidAmount}" placeholder="Paid Amount"
                           tabindex="1"/>
                </div>
            </div>
            <div class="col-md-3">
                <div th:class="${#fields.hasErrors('paidDate')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="paidDate">Paid Date</label>
                    <input id="paidDate" type="text" class="form-control" th:field="*{paidDate}" placeholder="Paid Date"
                           tabindex="2"/>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label th:for="statusField">Status</label>
                    <select id="statusField" class="form-control" th:field="*{status}" tabindex="5">
                        <option value="">Select...</option>
                        <option th:each="status : ${statusTypes}" th:value="${status}"
                                th:text="${status.getDescription()}">Current
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label th:for="frequency">Frequency</label>
                    <select id="frequency" class="form-control" th:field="*{frequency}" tabindex="6">
                        <option value="">Select...</option>
                        <option th:each="freq : ${frequencyTypes}" th:value="${freq}"
                                th:text="${freq.getDescription()}">Annual
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div th:class="${#fields.hasErrors('dueAmount')} ? 'form-group has-error' : 'form-group'">
                    <label th:for="*{dueAmount}">Due Amount</label>
                    <input type="text" class="form-control" th:field="*{dueAmount}" placeholder="Due Amount"
                           tabindex="3"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label th:for="dueDate">Due Date</label>
                    <input id="dueDate" type="text" class="form-control" th:field="*{dueDate}" placeholder="Due Date"
                           tabindex="4"/>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label th:for="paymentMethod">Payment Method</label>
                    <select class="form-control" th:field="*{paymentMethod}" tabindex="7">
                        <option value="">Select...</option>
                        <option th:each="pay : ${paymentTypes}" th:value="${pay}" th:text="${pay.getDescription()}">
                            Standing order
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label th:for="subscriptionType">Subscription Type</label>
                    <select class="form-control" th:field="*{subscriptionType}" tabindex="8">
                        <option value="">Select...</option>
                        <option th:each="sub : ${subscriptionTypes}" th:value="${sub}"
                                th:text="${sub.getDescription()}">Member
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label th:for="notes">Notes</label>
                    <input type="text" class="form-control" th:field="*{notes}" placeholder="Notes" tabindex="-1"/>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <div class="form-group">
                    <label th:for="number">Number</label>
                    <input type="text" class="form-control" th:field="*{number}" placeholder="Number" tabindex="-1"/>
                </div>
            </div>
        </div>

        <input type="hidden" th:field="*{memberId}"/>
        <input type="hidden" th:field="*{idNumber}"/>
        <input type="hidden" th:field="*{originalDueDate}"/>
        <button type="submit" class="btn btn-default" tabindex="11">Save</button>
        <button id="cancelEditButton" type="reset" class="btn btn-default" tabindex="12">Cancel</button>
    </form>
    <div class="push"></div>
</div>

<div th:replace="include-menubar :: form-logout"/>
<footer th:include="include-foot :: footer"/>

</body>
</html>
