<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include-head-local :: head"/>
<body role="document">
<div class="container theme-showcase" role="main">
    <div th:replace="include-menubar :: menu"/>

    <h1 th:text="${title}">Title</h1>

    <div id="created" th:text="${#dates.format(timestamp)}" th:if="${timestamp}">July 11, 2012 2:17:16 PM CDT</div>
    <div>There was an unexpected error (type=<span th:text="${error}">Bad</span>, status=<span
            th:text="${status}">500</span>).
    </div>
    <div th:text="${message}">Fake content</div>
    <div>Please contact the operator with the above information.</div>
</div>
</body>
</html>
