<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="include-head-local :: head"/>

<body role="document">

<div class="container">

    <div th:replace="include-menubar :: menu"/>

    <div class="page-header">
        <h1>Import Results</h1>
    </div>

    <h4 th:text="'Successfully imported: ' + ${importResult.successCount}">Successfully imported: 101</h4>
    <h4 th:text="'Failed records: ' + ${importResult.issues.size()}">Failed records: 23</h4>

    <table class="table table-condensed table-hover table-bordered display">
        <tr>
            <th>Row Number</th>
            <th>Column Number</th>
            <th>Column Name</th>
            <th>Message</th>
        </tr>
        <tr th:each="issue : ${importResult.issues}">
            <td th:text="${issue.rowNum}">1</td>
            <td th:text="${issue.colNum}">1</td>
            <td th:text="${issue.colName}">1</td>
            <td th:text="${issue.message}">1</td>
        </tr>
    </table>
    <div class="push"></div>
</div>

<div th:replace="include-menubar :: form-logout"/>
<footer th:include="include-foot :: footer"/>

</body>
</html>
